<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="blog.home.dao.ArticleTagMapper">

  <!-- 添加文章个人标签信息 -->
  <insert id="addArticleTag" parameterType="java.util.List">
    INSERT INTO blog_article_tag (article_id,tag_id) VALUE
    <foreach collection="list" item="articleTag" separator=",">
       (#{articleTag.article_id},#{articleTag.tag_id})
    </foreach>
  </insert>
  
  <!-- 根据 一个文章ID 删除文章标签 -->
  <delete id="deleteByAid" parameterType="int">
    DELETE FROM blog_article_tag WHERE article_id=#{aid}
  </delete>
  
  <!-- 根据多个文章ID 批量删除文章标签 -->
  <delete id="deleteByAidBatch" parameterType="java.util.List">
    DELETE FROM blog_article_tag WHERE
    <foreach collection="list" item="aid" separator="OR">
      article_id=#{aid}
    </foreach>
  </delete>
  
  <!-- 根据 一个标签ID 删除文章标签 -->
  <delete id="deleteByTid" parameterType="int">
    DELETE FROM blog_article_tag WHERE tag_id=#{tid}
  </delete>
  
  <!-- 根据 多个标签ID 删除文章标签 -->
  <delete id="deleteByTidBatch" parameterType="java.util.List">
    DELETE FROM blog_article_tag WHERE
    <foreach collection="list" item="tid" separator="OR">
      tag_id=#{tid}
    </foreach>
  </delete>
  
</mapper>