<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="blog.home.dao.CommentMapper">

  <!-- 添加评论 -->
  <insert id="addComment" parameterType="blog.home.model.Comment">
    INSERT INTO blog_comment (content,publish_time,article_id,user_id,recipient_uid,pid)
    VALUE(#{content},#{publishTime},#{articleId},#{userId},#{recipientUid},#{pid})
  </insert>
  
  <!-- 根据评论ID删除评论 -->
  <delete id="deleteComment" parameterType="int">
    DELETE FROM blog_comment WHERE id=#{id}  
  </delete>
  
  <!-- 根据文章ID删除评论信息 -->
  <delete id="deleteCommentByArticle" parameterType="int">
    DELETE FROM blog_comment WHERE article_id=#{aid}
  </delete>
  
  <!-- 根据多个文章ID删除评论信息 -->
  <delete id="deleteCommentByAidBatch" parameterType="java.util.List">
    DELETE FROM blog_comment WHERE
    <foreach collection="list" item="aid" separator="OR">
      article_id=#{aid}
    </foreach>
  </delete>
  
  <!-- 根据文章ID查找一级评论 -->
  <select id="findCommentByAid" parameterType="int" resultMap="commentResult">
    SELECT a.*,b.id user_id,b.username,b.image_path
    FROM blog_comment a,user_info b
    WHERE a.article_id=#{aid} AND b.id=a.user_id AND a.pid=0
    ORDER BY publish_time DESC
  </select>
  
  <!-- 根据文章ID查找次级评论 -->
  <select id="findReplyCommentByAid" parameterType="int" resultMap="commentResult">
    SELECT a.*,b.id user_id,b.username,b.image_path
    FROM blog_comment a,user_info b
    WHERE a.article_id=#{aid} AND b.id=a.user_id AND a.pid!=0
    ORDER BY publish_time ASC
  </select>
  
  <resultMap type="blog.home.model.Comment" id="commentResult">
    <result column="id" property="id"/>
    <result column="content" property="content"/>
    <result column="publish_time" property="publishTime"/>
    <result column="article_id" property="articleId"/>
    <result column="pid" property="pid"/>
    <association property="userInfo" javaType="blog.home.model.UserInfo">
      <result column="user_id" property="id"/>
      <result column="username" property="username"/>
      <result column="image_path" property="image_path"/>
    </association>
  </resultMap>
  
</mapper>