<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="blog.home.dao.MessageMapper">

  <!-- 添加信息 -->
  <insert id="addMessage" parameterType="blog.home.model.Message"
          useGeneratedKeys="true" keyProperty="id" keyColumn="id">
    INSERT INTO sys_message (id,content,publish_time,sender_id)
    VALUE(#{id},#{content},#{publish_time},#{sender_id})
  </insert>
  
  <!-- 发送者删除信息 -->
  <update id="deleteMessage" parameterType="int">
    UPDATE sys_message SET state=2 WHERE id=#{id}
  </update>
  
  <!-- 批量删除 -->
  <update id="deleteMessageBatch" parameterType="java.util.List">
    UPDATE sys_message SET state=2 WHERE
    <foreach collection="list" item="id" separator="OR">
      id=#{id}
    </foreach>
  </update>
  
  <!-- 修改信息状态(保存信息成功） -->
  <update id="keepMessage" parameterType="int">
    UPDATE sys_message SET state=0 WHERE id=#{id}
  </update>
  
  <!-- 修改信息状态(发送信息成功） -->
  <update id="sendMessage" parameterType="int">
    UPDATE sys_message SET state=1 WHERE id=#{id}
  </update>
  
  <!-- 根据用户ID查询所有草稿 -->
  <select id="findDraft" parameterType="int" resultType="blog.home.model.Message">
    SELECT * FROM sys_message WHERE sender_id=#{sender}
  </select>
  
  <!-- 根据 信息ID 查询草稿内容  -->
  <select id="findDraftDetail" parameterType="int" resultType="blog.home.model.Message">
    SELECT * FROM sys_message WHERE id=#{id}
  </select>
  
</mapper>