<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="blog.home.dao.QuestionMapper">

  <insert id="addQuestion" parameterType="blog.home.model.Question">
    INSERT INTO blog_question (title,content,publish_time,state,user_id)
    VALUE(#{title},#{content},#{publishTime},#{state},#{userId})
  </insert>
  
  <!-- 浏览一次问题 -->
  <update id="addClickCount" parameterType="int">
    UPDATE blog_question SET clickcount=clickcount+1 WHERE id=#{id}
  </update>
  
  <!-- 回答一次问题 -->
  <update id="addAnswerCount" parameterType="int">
    UPDATE blog_question SET answercount=answercount+1 WHERE id=#{id}
  </update>
  
  <!-- 删除问题 -->
  <update id="deleteQuestion" parameterType="int">
    UPDATE blog_question SET state=2 WHERE id=#{id}
  </update>
  
  <!-- 批量删除问题 -->
  <update id="deleteQuestionBatch" parameterType="java.util.List">
    UPDATE blog_question SET state=2 WHERE
    <foreach collection="list" item="id" separator="OR">
      id=#{id}
    </foreach>
  </update>
  
  <!-- 回答数-1 -->
  <update id="minusAnswerCount" parameterType="int">
    UPDATE blog_question SET answercount=answercount-1 WHERE id=#{id}
  </update>
  
  <!-- 修改问题 -->
  <update id="updateQuestion" parameterType="blog.home.model.Question">
    UPDATE blog_question 
    <set>
      <include refid="UPDATE_QUESTION_SET"></include>
    </set>
    WHERE id=#{id}
  </update>
  
  <!-- 查询问题详细信息 -->
  <select id="findQuestion" parameterType="int" resultMap="questionResult">
    SELECT a.*,b.username,b.image_path
    FROM blog_question a,user_info b
    WHERE a.id=#{id} AND b.id=a.user_id
  </select>
  
  <!-- 查询问题简略信息 -->
  <select id="findAllQuestion" resultMap="questionResult">
    SELECT a.*,b.username,b.image_path
    FROM blog_question a,user_info b
    WHERE b.id=a.user_id
    ORDER BY publish_time DESC
  </select>
  
  <!-- 根据 问题标题 模糊查询问题简略信息 -->
  <select id="findQuestionByTitle" parameterType="String" resultMap="questionResult">
    SELECT a.*,b.username,b.image_path
    FROM blog_question a,user_info b
    WHERE a.title LIKE "%"#{title}"%" AND b.id=a.user_id
  </select>
  
  <!-- 根据用户Id查询所有问题 -->
  <select id="findQuestionByUser" parameterType="int" resultMap="questionResult">
    SELECT *
    FROM blog_question
    WHERE user_id=#{uid} AND state!=2
    ORDER BY publish_time DESC
  </select>
  
  <!-- 根据用户Id查询已解决的问题 -->
  <select id="findArticleSolve" parameterType="int" resultMap="questionResult">
    SELECT *
    FROM blog_question
    WHERE user_id=#{uid} AND state=1
    ORDER BY publish_time DESC
  </select>
  
  <!-- 根据用户Id查询未解决的问题 -->
  <select id="findArticleUnsolved" parameterType="int" resultMap="questionResult">
    SELECT *
    FROM blog_question
    WHERE user_id=#{uid} AND state=0
    ORDER BY publish_time DESC
  </select>
  
  <!-- 根据用户Id查询进入回收站的问题 -->
  <select id="findQuestionGarbage" parameterType="int" resultMap="questionResult">
    SELECT *
    FROM blog_question
    WHERE user_id=#{uid} AND state=2
    ORDER BY publish_time DESC
  </select>
  
  <!-- 查询浏览数 -->
  <select id="findClickCount" parameterType="int">
    SELECT clickcount FROM blog_question WHERE id=#{id}
  </select>
  
  <!-- 查询回答数 -->
  <select id="findAnswerCount" parameterType="int">
    SELECT answercount FROM blog_question WHERE id=#{id}
  </select>
  
  <sql id="UPDATE_QUESTION_SET">
    <if test="title!=null and title!=''">title=#{title},</if>
    <if test="content!=null and content!=''">content=#{content},</if>
    <if test="publishTime!=null">publish_time=#{publishTime},</if>
    <if test="clickCount!=null">clickcount=#{clickCount},</if>
    <if test="answerCount!=null">answercount=#{answerCount},</if>
    <if test="state!=null">state=#{state},</if>
  </sql>
  
  <resultMap type="blog.home.model.Question" id="questionResult">
    <result column="id" property="id"/>
    <result column="title" property="title"/>
    <result column="content" property="content"/>
    <result column="publish_time" property="publishTime"/>
    <result column="clickcount" property="clickCount"/>
    <result column="answercount" property="answerCount"/>
    <result column="samecount" property="sameCount"/>
    <result column="state" property="state"/>
    <association property="userInfo" javaType="blog.home.model.UserInfo">
      <result column="user_id" property="id"/>
	    <result column="username" property="username"/>
	    <result column="image_path" property="imagePath"/>
    </association>
  </resultMap>
  
</mapper>