<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="blog.home.dao.TagMapper">

  <!-- 添加个人标签 -->
  <insert id="addTag" parameterType="blog.home.model.Tag">
    INSERT INTO blog_tag 
    <if test="tag!=null and user_id!=null">
      (tag,user_id) VALUE(#{tag},#{user_id})
    </if>
  </insert>
  
  <!-- 删除个人标签 -->
  <delete id="deleteTag" parameterType="int">
    DELETE FROM blog_tag WHERE id=#{id}
  </delete>
  
  <!-- 根据ID批量删除个人标签 -->
  <delete id="deleteTagBatch" parameterType="java.util.List">
    DELETE FROM blog_tag WHERE
    <foreach collection="list" item="id" separator="or">
      id=#{id}
    </foreach>
  </delete>
  
  <!-- 修改个人标签 -->
  <update id="updateTag" parameterType="blog.home.model.Tag">
    UPDATE blog_tag SET tag=#{tag} WHERE id=#{id}
  </update>
  
  <!-- 根据用户ID查找所有个人标签 -->
  <select id="findAllTag" parameterType="int" resultType="blog.home.model.Tag">
    SELECT * FROM blog_tag WHERE user_id=#{id}
  </select>
  
  <!-- 根据ID查找个人标签 -->
  <select id="findTagById" parameterType="int" resultType="blog.home.model.Tag">
    SELECT * FROM blog_tag WHERE id=#{id}
  </select>
  
</mapper>