<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="blog.home.dao.TagMapper">

  <!-- 添加个人标签 -->
  <insert id="addTag" parameterType="blog.home.model.Tag">
    INSERT INTO blog_tag 
    <if test="tag!=null and userId!=null">
      (tag,user_id) VALUE(#{tag},#{userId})
    </if>
  </insert>
  
  <!-- 删除个人标签 -->
  <delete id="deleteTag" parameterType="int">
    DELETE FROM blog_tag WHERE id=#{id}
  </delete>
  
  <!-- 根据ID批量删除个人标签 -->
  <delete id="deleteTagBatch" parameterType="java.util.List">
    DELETE FROM blog_tag WHERE
    <foreach collection="list" item="id" separator="or">
      id=#{id}
    </foreach>
  </delete>
  
  <!-- 修改个人标签 -->
  <update id="updateTag" parameterType="blog.home.model.Tag">
    UPDATE blog_tag SET tag=#{tag} WHERE id=#{id}
  </update>
  
  <!-- 根据用户ID查找所有个人标签 -->
  <select id="findAllTag" parameterType="int" resultType="blog.home.model.Tag">
    SELECT * FROM blog_tag WHERE user_id=#{uid}
  </select>
  
  <!-- 根据用户ID分页查找个人标签 -->
  <select id="findTagList" parameterType="int" resultMap="tagResult">
    SELECT a.id,a.tag,IFNULL(b.num,0) articlecount
		FROM (blog_tag a)
		LEFT JOIN 
		(SELECT tag_id,COUNT(*) AS num FROM blog_article_tag GROUP BY tag_id) AS b ON a.id=b.tag_id
    ORDER BY a.id
  </select>
  
  <!-- 根据ID查找个人标签 -->
  <select id="findTagById" parameterType="int" resultType="blog.home.model.Tag">
    SELECT * FROM blog_tag WHERE id=#{id}
  </select>
  
  <resultMap type="blog.home.model.Tag" id="tagResult">
      <result column="id" property="id"/>
      <result column="tag" property="tag"/>
      <result column="user_id" property="userId"/>
      <result column="articlecount" property="articleCount"/>
  </resultMap>
  
</mapper>